@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
* {
  font-family: "Roboto", sans-serif;
  --color1: #2B7F75;
  --color2: #F2F5F3;
  --color3: #192939;
  --color4: #F3F5F7;
}

ion-toolbar {
  --background: var(--color1);
  color: var(--color2);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

ion-title {
  font-weight: 900;
}

ion-card-title {
  margin: 30px;
  text-align: center;
  font-weight: 600;
}

ion-content {
  --background: var(--color2);
}

ion-input {
  margin-bottom: 20px;
}

ion-button {
  --background: var(--color1);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#comentarios {
  height: 300px;
  align-items: start;
}